.active{
    background-color: aqua;
}
.mat-drawer{
    width: 200px;
    min-width: 200px;
    padding: 16px;

}

mat-drawer-container{
    position: relative; /* Change to relative or absolute */
    height: 100%; 
    min-height: 89%;
    width: 100%;
    min-width: 100%;
    background-color: transparent; 

}
a{
    color: blue($color: #5055a7);
    text-decoration: none;

}
a:hover{
    font-weight: bold;

}

.active a{
    font-weight: bold;
}